.filter-item {
  margin-right: 6px;
  vertical-align: top;
}

@media (min-width: $screen-sm-min)  {
  .issues-filters,
  .issues_bulk_update {
    .dropdown-menu-toggle {
      width: 132px;
    }
  }
}
